<style>
  .pagination ul{
  	list-style:none;
  }
  .pagination ul li{
    display:inline-block;
  }
  ul.menu{
  	list-style:none;
  }
  ul.menu li{
  	display:inline-block;
  }
</style>
<h1>ROME Rebuilt</h1>
<ul class="menu">
	<li><a href="/book">book </a>|
	<li>|<a href="/user">user</a></ul>
<ul>
<table>
<th>
	<td>title</td><td>author</td><td>publisher</td><td>genre</td><td>height</td></th>
<% books.forEach(function(n){%>
	<tr>
		<td><%= n.title%></td>
		<td><%= n.author%></td>
		<td><%= n.publisher%></td>
		<td><%= n.genre%></td>
		<td><%= n.height%></td>
	</tr>
<% });%>
</table>
</ul>
<%- include('pagination.ejs')%>