<%- include header.ejs%>
<form method="post" style="display:inline-block"><input type="text" name="search" value="<%=search%>" placeholder="search in title"></form>
<a class="button" href="/book/add">add</a>
<table class="beautytable">
<tr>
	<th>title</th><th>author</th><th>publisher</th><th>genre</th><th>height</th>
	<th>operator</th>
	<th>operator</th>
	</tr>
<% books.forEach(function(n){%>
	<tr>
		<td><%= n.title%></td>
		<td><%= n.author%></td>
		<td><%= n.publisher%></td>
		<td><%= n.genre%></td>
		<td><%= n.height%></td>
		<td><a href='/book/delete/<%= n._id%>?page=<%=current_page%>&search=<%=search%>'>delete</a></td>
		<td><a href='/book/edit/<%= n._id%>?page=<%=current_page%>&search=<%=search%>'>edit</a></td>
	</tr>
<% });%>
</table>
</ul>
<%- include('pagination.ejs')%>
<%- include('footer.ejs')%>