<%- include header.ejs%>
<form method="post">search in title<input type="text" name="search" value="<%=search%>"></form>
<table>
<thead>
	<td>title</td><td>author</td><td>publisher</td><td>genre</td><td>height</td>
	<td>operator</td>
	<td>operator</td>
	</thead>
<% books.forEach(function(n){%>
	<tr>
		<td><%= n.title%></td>
		<td><%= n.author%></td>
		<td><%= n.publisher%></td>
		<td><%= n.genre%></td>
		<td><%= n.height%></td>
		<td><a href='/book/delete/<%= n._id%>?page=<%=current_page%>&search=<%=search%>'>delete</a></td>
		<td><a href='/book/edit/<%= n._id%>?page=<%=current_page%>&search=<%=search%>'>edit</a></td>
	</tr>
<% });%>
</table>
</ul>
<%- include('pagination.ejs')%>