<%- include header.ejs%>
<form method="post" style="display:inline-block">
  search in name<input type="text" name="search" value="<%=search%>">
</form>
<a href="/user/add">add</a>
<table>
<thead>
	<td>name</td><td>age</td>
	<td>-</td>
	<td>-</td>
	</thead>
<% books.forEach(function(n){%>
	<tr>
		<td><%= n.name%></td>
		<td><%= n.age%></td>
		<td>
    <form action="/user/<%= n._id%>?_method=DELETE" method="post">
      <button type="submit" value="-">-</button>
    </form></td>
		<td><form action="/user/<%= n._id%>?_method=GET" method="post">
      <button type="submit" value="-">*</button>
    </form></td>
	</tr>
<% });%>
</table>
</ul>
<%- include('pagination.ejs')%>